[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "clustlearn"]
	path = clustlearn
	url = https://github.com/ersabajanes/clustlearn
